body {
    background-color: rgba(0, 144, 0, 0.497);
    color: rgb(0, 0, 200);
}

header {
text-align: center;
border: 2px dashed;
background-color: beige;
padding: 10px;
height: 300px;
width: 700px;
margin-left: auto;
margin-right: auto;
}

h1, h2, h3, h4 {
    font-size: 29pt;
}

div p {
    border: solid;
    background-color: beige;
    padding: 10px;
}

#workx {
    border: 2px solid;
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}
h2 {font-style: italic;}

#workx ul li:nth-child(even) {
    color: black;
}

h2, h3, h4 {
    text-align: center;
}

#gallery {
    border: 2px solid;
}

.flex-container {
    display: flex;
    word-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    height: 400px;
    font-size: 11pt;
    text-align: left;
}
h4 {font-style: oblique;}

footer {
    color: black;
    border: 2px solid;
    background-color: beige;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}